@import 'variables';

.fullpage {
  display: flex;
  flex-wrap: wrap;
  padding: $max-space;
  gap: $max-space;

  .page-title {
    background: $text-gradient-color;
    font-size: 5rem;
    margin: 0 0 4rem;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 100%;

  }
}
