//colors
$text-color: #f3f3f3;
$text-gradient-color: linear-gradient(90deg, rgb(16, 16, 201), rgb(154, 1, 255));
$bg-color: #130d18;
$bg-container-color: #111;
$b-radius-card: 6px;
$b-radius-container: 10px;

//space
$min-space: 1rem;
$max-space: 3rem;
